
@font-face {
  font-family: AdmR;
  src: url('../font/AgdasimaR.ttf')
}

@font-face {
  font-family: AdmB;
  src: url('../font/AgdasimaB.ttf')
}
@font-face {
  font-family: RobotoT;
  src: url('../font/Roboto-Thin.ttf')
}

@font-face {
  font-family: AGFBR;
  src: url('../font/AGENCYR.TTF')
}
@font-face {
  font-family: AGFBR;
  src: url('../font/AGENCYB.TTF')
}



/* Effect Animation START */

@keyframes appear {
   from {
      opacity: 0;
      scale: 0.5;
   }

   to {
      opacity: 1;
      scale: 1;
   }

 
  }

  .ProductsProducts {
    animation: appear 1s linear;
    animation-timeline: view();
    animation-range: entry 0%;

}

.aboutcontainer {
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: entry 0%;

}

/* Effect Animation END */

/* Navigation Bar START */
nav ul {
  width:1000px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: AdmB;
  font-size: 22px;
  height: 90px;
  animation: appear 0.2s linear;
}

nav il {
  height: 100px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #2C3A53;
}

nav a:hover {
    color: #8500a7;
    text-decoration: none;
}



.sidebar {
  display: none;
  padding-top: 15px;
  margin-top: 65px;
  border-radius: 10px;
  top: 22px;
  gap: 5px;
  right: 0;
  height: 43vh;
  width:100%;
  z-index: 999;
  opacity: 1.1;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px;
  align-items: center;
  justify-content: center;
  flex-direction:column ;
  

}

.hideiconmenubar {
padding-left: 275px;
padding-top: -15px;

}

.sidebar li{
  width: 100%;
  justify-content:center;
}

.sidebar a{
  width: 100%;
  justify-content:center;
}

.menu-button {
  display: none;
  
}

@media(max-width: 950px) {
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
}
@media(max-width: 400px) {
  .sidebar
    width: 100%;
  }



  /* Navigation Bar END */


/* Style the buttons that are used to open and close the accordion panel START */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: inline;
  border-radius: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #07006d;
  cursor: pointer;
  text-decoration: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgb(255, 255, 255);
  display: none;
  overflow: hidden;
  text-align: left;

  opacity: 0; /* Start hidden */
  animation: upToDownAppear 0.8s ease-in-out forwards;

  
}

@keyframes upToDownAppear {
  0% {
      transform: translateY(0);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

 h6 {
  text-align: center;
  color:#ffffff;
  border-radius: 4px;
  letter-spacing: 1px;
  border-color: #2C3A53;
  background-color:#2C3A53;
  margin: 5px 5px 5px 5px ;
  padding: 5px 5px 5px 5px ;
  box-shadow: 0px 2px 10px;
 }


/* Style the buttons that are used to open and close the accordion panel END*/

















/*AccordianButton*/
.accordion {
  border-style: hidden;
  background-color: #2C3A53;
  box-shadow: 0px 2px 10px;
  color: #ffffff;
  font-family: AdmR;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}



* { 
 padding: 0;
 margin: 0px;


}

p {
  font-size: 25px;
  font-family: AdmR;
}


h2 {
  font-size:40px;
  font-family:AdmB;
  text-align: center;
  padding-top: 12px ;
  

}



h3 {
  font-family: AdmB;
  font-size: 30px;
  }

header {
    background-color:rgb(255, 255, 255);
   
    width:10000px;
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    position:fixed;
    z-index: 9999;
    box-shadow: 0px 2px 10px;
}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  justify-content: center;
  float: center;
  box-shadow: 0px 2px 10px;
  
  font-family: AdmR;

}

.topnav a {
  float: center;
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}


.logotop {
  margin-left: 120px;
  margin-top: 8px;
}
.slogan {
  margin-top: -5px;
  margin-left: 20px;
  font-size: 20px;
}

/*
li{

  display:inline;
  color:#2C3A53;;
  font-family: AdmB;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  margin-right: 2vw;
  height: 20px;
  width: 100% ;
  
}
  */


/*FOOTER PART START*********************************************/

footer {
  background-color: #2e2e2e;
}

.footerlogo {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

  
}
.footertitle {
color: #ffffff;
font-family: AdmB;
font-size: 20px;
font-weight: bold;

}

.footercomptitle {
  font-family: AdmB;
font-size: 30px;
font-weight: 285px;
color: #ffffff;
}

.footertext {
  font-family: AdmR;
  font-size: 22px;
  color: #ffffff;
}



.FooterCointainer{
    padding: 50px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap ;
    justify-content:space-around;
    text-align: center;
    align-items: center;
    gap:55px
}



 
  .Panel_Logo {
    width:300px;
    justify-content: center ;
    align-content: center;
    text-align: center;
  }

  .panel_copyright {
   
    font-family: AdmR;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
   
  }

  .copyrightcom {
    font-size: large;
    color: #ffffff;
  }
 
/*FOOTER PART END*********************************************/
   h1 {
    font-size: small;
    font-family:;
   }



    header ul {

        position:fixed;
        right:5vw;
        top:0;
        line-height: 60px;
    }

    header h1.img{
         left: 100px;
        


    }

    /*
    header a {
        color: rgba(0, 0, 0, 0);
        text-decoration: none;

    }

    header a:hover {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0);
    }
    */
        .phone a {
        color: rgba(0, 0, 0, 0);
        text-decoration: none;

    }

    .phone a:hover {
        text-decoration: underline;
        color: #2C3A53;
    }


    .intro {
      display: flex;
        background-color: #2C3A53;
        color: aqua;
        height: 70vh;
        background-image: url("img/1111.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        font-family: AdmB;
        top: -245px;
        padding-bottom: 35px;
      
    }
/*Product Part START*********************************/
    .pronser {
       margin-top: 105px ;
        background-color: #ffffff;
        color: #2C3A53;
        height: auto;
        background-image: url("img/1111.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        font-family: AdmB;
        font-size: 35px;
        padding-bottom: 35px;
    }

.containerproduct   {
  top: -200px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
    gap: 10px;
}
 .oterlogo {


margin: center;
margin-bottom: 40px;

position:255px ;
}



.ProductsProducts {
   display: inline-block;
   padding: 18px;
   text-align: center;
   width: 400px;
   top: 10px;
   margin: 25px,25px,25px,25px;

}



/*Product Part END*********************************/
    .WhyUs {
        background-color: #2C3A53;
        color: #ffffff;
        height: auto;
        background-image: url("img/1111.jpg");
        background-repeat: no-repeat;
        background-size: auto;
    }
/*About Part START*********************************/

    .About {
        background-color: #2C3A53;
        color: rgb(255, 255, 255);
        height: auto;
        background-image: url("img/1111.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        text-align: center;
        padding: 25px;
    }
    h4 {
      font-size: 25px;
      font-family: AdmR;
      
      padding: 15px;
     }

     .aboutcontainer {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
  

     }
/*About Part END*********************************/

  /* slider section **********************************START*/
.slider_section {
  
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
  background-color:#2C3A53;
  
}

.btn-box {
  display: none;
}

.containerLogo {
  background-color: #ffffff;
}
.carousel-item {
  background-color: #2C3A53;
  margin-top:80px ;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color:#77a5f3;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-family: AdmB;
  text-shadow: 2px 2px #000000;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #ffffff;
  font-size: 24px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  font-family: AdmR;
  box-shadow: 0px 2px 10px;
  font-size: 25px;
  color: #000000;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #93ff85;
  text-decoration: none;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #6e6e6e;
}
/* slider section **********************************END*/








.xixi {
  filter: brightness(0);
  
}










/* PAGE CONTACT US************START*/
.cointainerSubmitForm {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-wrap: wrap;
  align-items: first baseline;
  
  
  

}


.phonemail {
  padding: 20px;
  padding-left:  20px; 
  padding-right:  20px; 

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 550px;
  padding: auto;
  

}

.PageContactUs {
  height: auto;
  font-family: AdmR;
  font-size: 45px;
  padding: 100px;
  padding-left:  20px; 
  padding-right:  20px; 
  color:#ffffff;
  background-color: #2C3A53;
}


form {
  max-width: 550px;
  font-size: 25px;
  margin: auto;
  padding: 20px;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#2C3A53
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input, select, textarea {
  width: 100%;
  padding: 8px;
  background-color:#e4e4e4;
  margin-bottom: 15px;
  border: 1px solid hsl(0, 0%, 52%);
  border-radius: 4px;
  font-size: 14px;
  
}
 input:focus {
 color: #2C3A53;
}

button {
  width: 100%;
  padding: 10px;
  background-color:#9c9c9c;
  border-color: #4c00ff;
  border: 5px;
  
  color: white;

 
  cursor: pointer;
  font-size: 18px;
}
button:hover {
  background-color:#8500a7;
}
/* PAGE CONTACT US************END*/
